// Media query breakpoints
$breakpoints: (
    "XS": 425px,
    "SM": 576px,
    "MD": 768px,
    "LG": 992px,
    "XL": 1200px,
    "XXL": 1440px,
    "XXXL": 1920px
);

// Colours
$primary: var(--primary);
$secondary: var(--secondary);
$light-green: var(--light-green);
$light-blue: var(--light-blue);
$dark-blue: var(--dark-blue);
$text: var(--text);
$bg-colour: var(--bg-colour);
$bg-colour-darker: var(--bg-colour-darker);

$bord-rad: 7px;
$shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
