@import "../../variables", "../../mixins";

.content-wrapper {
	display: flex;
	flex-direction: column;
	max-width: 1440px;
	padding: 2rem 0;
	min-height: 100vh;
	@include lg {
		flex-direction: row;
	}

	.site-main {
		flex-basis: 100%;
		padding: 0 1rem;
		order: 2;
		@include lg {
			order: 1;
		}
	}

	.widget-area {
		flex-basis: 33.4%;
		@include lg {
			order: 2;
		}

		&> :not(:first-child) {
			display: none;

			@include lg {
				display: block;
			}
		}
	}

	article {
		@include card;
		display: flex;
		flex-direction: column;
		margin-bottom: 2rem;
		padding-bottom: 1rem;
		transition-delay: 400ms;
		@include md {
			flex-direction: row;
		}

		.featured-img-wrapper {
			flex-basis: 33.4%;
			margin-bottom: 1rem;
			border-radius: $bord-rad;
			overflow: hidden;
			@include md {
				margin-bottom: 0;
				margin-right: 2rem;
			}

			a img {
				max-width: 100%;
				height: auto;
			}
		}

		.post-content-wrapper {
			flex-basis: 66.6%;

			.entry-header {
				margin-bottom: 1rem;

				.entry-title {
					margin-bottom: 1rem;

					a {
						text-decoration: none;
						color: var(--text);
					}
				}

				.entry-meta {
					color: var(--text);
					margin-top: 1.5rem;
					opacity: .8;
					font-size: .9rem;
					text-transform: capitalize;

					span a,
					span span a {
						color: var(--primary);
						text-decoration: none;
					}
				}
			}

			.entry-content {
				color: var(--text);
				opacity: .8;
				transition: all .3s ease-in-out;

				&:hover {
					opacity: 1;
				}
			}
		}
	}
}

