@import "../../variables", "../../mixins";

.content-wrapper {
	display: flex;
	flex-direction: column;
	max-width: 1440px;
	padding: 2rem 0;
	min-height: 100vh;
	@include lg {
		flex-direction: row;
	}

	.site-main {
		flex-basis: 100%;
		padding: 0 1rem;
		order: 2;
		@include lg {
			order: 1;
		}
	}

	.widget-area {
		flex-basis: 33.4%;
		@include lg {
			order: 2;
		}

		&> :not(:first-child) {
			display: none;

			@include lg {
				display: block;
			}
		}
	}

	article {
		@include card;
		display: flex;
		flex-direction: column;
		margin-bottom: 2rem;
		padding-bottom: 1rem;
		transition-delay: 400ms;
		@include md {
			flex-direction: row;
		}

		.featured-img-wrapper {
			flex-basis: 33.4%;
			margin-bottom: 1rem;
			border-radius: $bord-rad;
			overflow: hidden;
			@include md {
				margin-bottom: 0;
				margin-right: 2rem;
			}

			a img {
				max-width: 100%;
				height: auto;
			}
		}

		.post-content-wrapper {
			flex-basis: 66.6%;

			.entry-header {
				margin-bottom: 1rem;

				.entry-title {
					margin-bottom: 1rem;

					a {
						text-decoration: none;
						color: var(--text);
					}
				}

				.entry-meta {
					color: var(--text);
					margin-top: 1.5rem;
					opacity: .8;
					font-size: .9rem;
					text-transform: capitalize;

					span a,
					span span a {
						color: var(--primary);
						text-decoration: none;
					}
				}
			}

			.entry-content {
				color: var(--text);
				opacity: .8;
				transition: all .3s ease-in-out;

				&:hover {
					opacity: 1;
				}
			}
		}
	}
}

// Single post styling
body.single {
	article {
		display: flex;
		flex-direction: column;

		.featured-img-wrapper {
			img {
				max-width: 100%;
				height: auto;
			}
		}

		.post-content-wrapper {
			margin-top: 1rem;

			.entry-header {
				margin-bottom: 1rem;

				.entry-title {
					margin-bottom: 1rem;
					padding-bottom: .5rem;
					display: inline;
					border-bottom: 2px solid var(--primary);

					a {
						text-decoration: none;
						color: var(--text);
					}
				}

				.entry-meta {
					margin-top: 2rem;
				}
			}
		}
	}

	.navigation {
		.nav-links {
			display: flex;
			flex-direction: column;
			@include sm {
				flex-direction: row;
				justify-content: space-between;
			}

			.nav-previous {
				align-self: flex-start;
				.nav-arrow {
					margin-right: 1rem;
				}
			}

			.nav-next {
				align-self: flex-end;
				.nav-arrow {
					margin-left: 1rem;
				}
			}

			a {
				@include btn(var(--primary));
				margin: 1rem 0;
			}

			.nav-arrow {
				font-size: 1.5rem;
			}
		}
	}

	#comments {
		@include card;
		margin-top: 2rem;

		#reply-title {
			margin-bottom: 1rem;
			padding-bottom: .5rem;
			display: inline;
			border-bottom: 2px solid var(--primary);
		}

		form {
			margin-top: 2rem;

			.comment-notes,
			.comment-form-comment,
			.comment-form-author,
			.comment-form-email,
			.comment-form-url {
				display: flex;
				flex-direction: column;
				margin-bottom: 1rem;

				label {
					margin-bottom: .5rem;
				}

				input,
				textarea {
					@include font;
					padding: .5rem;
					border: 1px solid var(--primary);
					border-radius: $bord-rad;
				}

				.required {
					color: red;
				}
			}

			.comment-form-cookies-consent {
				display: flex;
				align-items: center;
				margin-bottom: 1rem;

				input {
					margin-right: .5rem;
				}
			}

			.form-submit {
				#submit {
					@include btn(var(--primary));
				}
			}
		}

		.comments-title {
			margin-bottom: 1rem;
			padding-bottom: .5rem;
			display: inline;
			border-bottom: 2px solid var(--primary);
		}

		.comments-subtitle {
			margin-top: 1.5rem;
		}

		.comment-list {
			list-style-type: none;

			li {
				list-style: none;

				.comment-body {
					margin-bottom: 0;
					padding: 1rem 0;
				}
			}
			
			a {
				@include link;
			}

			.comment-metadata,
			.comment-content {
				margin-top: .5rem;
			}

			.reply {
				margin-top: .5rem;
				@include btn(var(--primary));
				max-width: 50%;

				&:hover a {
					color: var(--primary) !important;
				}

				a {
					color: var(--bg-colour);

				}
			}
		}
	}
}

