@import "../../variables", "../../mixins";

.content-wrapper {
	display: flex;
	max-width: 1440px;
	//margin: 0 auto;
	//padding: 2rem 1rem;
	padding: 2rem 0;
	min-height: 100vh;

	.site-main {
		flex-basis: 100%;
		padding: 0 1rem;
	}

	.widget-area {
		flex-basis: 33.4%;
	}

	article {
		@include card;
		display: flex;
		flex-direction: row;
		margin-bottom: 2rem;
		padding-bottom: 1rem;

		.featured-img-wrapper {
			flex-basis: 33.4%;
			margin-right: 2rem;
			border-radius: $bord-rad;
			overflow: hidden;

			a img {
				max-width: 100%;
				height: auto;
			}
		}

		.post-content-wrapper {
			flex-basis: 66.6%;

			.entry-header {
				margin-bottom: 1rem;

				.entry-title {
					margin-bottom: 1rem;

					a {
						text-decoration: none;
						color: var(--text);
					}
				}

				.entry-meta {
					color: var(--text);
					opacity: .8;
					font-size: .9rem;
					text-transform: capitalize;

					span a,
					span span a {
						color: var(--primary);
						text-decoration: none;
					}
				}
			}

			.entry-footer {
				display: flex;
				flex-direction: column;

				span a {
					color: var(--primary);
					text-decoration: none;
				}

				.cat-links {
					margin-bottom: 1rem;
				}

				.comments-link {

				}
			}
		}
	}
}

