@import "../../variables", "../../mixins";

#site-header {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
	box-shadow: $shadow;

    .header-wrapper {
        max-width: 1440px;
		width: 100%;
		margin: 0 auto;
		padding: 0 1rem;
		display: flex;
		justify-content: space-between;
		align-items: center;

		#burger-wrapper {
			order: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: white !important;
			padding: 0;
			border: none;
			cursor: pointer;
			@include md {
				width: 25%;
				justify-content: normal;
			}
			@include lg {
				display: none;
			}

			.burger-box {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 56px;
				height: 63px;

				.burger-inner,
				.burger-inner::before,
				.burger-inner::after {
					display: block;
					position: absolute;
					height: 5px;
					width: 30px;
					border-radius: 3px;
					background-color: $dark-green;
				}

				.burger-inner::before {
					content: '';
					margin-top: -10px;
				}

				.burger-inner::after {
					content: '';
					margin-top: 10px;
				}
			}
		}

		.site-branding {
			order: 2;
			width: 50%;
			display: flex;
			justify-content: center;
			@include md {
				order: 1;
				width: 25%;
				justify-content: flex-start;
			}

			.site-title a {
				color: $dark-green;
				text-decoration: none;
				text-transform: uppercase;
			}
		}

        .main-navigation {
			display: none;
            width: 50%;
			@include lg {
				display: block;
				order: 2;
			}

            ul {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
				padding: 1rem 0;
                list-style-type: none;

                .menu-item {
					margin: 0 1rem;
					padding: 1rem 0;

					&:first-child {
						margin-left: 0;
					}

					&:last-child {
						margin-right: 0;
					}

                    a {
						color: $nearly-black;
						padding: 1rem 0;
                        text-decoration: none;
                        text-transform: uppercase;
                        opacity: .8;
                    }
                }

				.current_page_item {
					display: inline;
					border-bottom: 1px solid $dark-green;
				}
            }
        }

		#colour-switch-wrapper {
			order: 3;
			width: 25%;

			.colour-switch {
				float: right;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				width: 3.125rem;
				padding: .25rem;
				border: 2px solid $dark-green;
				border-radius: 5rem;
				box-shadow: $shadow;

				.pill {
					background-color: $dark-green;
					padding: .5rem;
					border: 1px solid $dark-green;
					border-radius: 50%;
					box-shadow: $shadow;
					width: 1rem;

					.pill-inner {

					}
				}
			}
		}
    }
}

#slideout {
	display: none;
	background-color: $dark-green;
	height: 100vh;
	width: 0;
	position: fixed;
	left: 0;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s;

	.slideout-inner {
		padding: 1rem;

		.close-button {
			color: $nearly-white;
			margin-bottom: 2rem;
			font-size: 3rem;
			text-decoration: none;
			cursor: pointer;
		}

		.menu-nav-bar-container {
			margin-top: 1rem;
			ul {
				li {
					list-style-type: none;
					margin-bottom: 1rem;

					a {
						color: $nearly-white;
						text-transform: uppercase;
						text-decoration: none;
						cursor: pointer;
					}
				}
			}
		}
	}

}

#page-wrapper {
	transition: margin-left .5s;
}
#overlay {
	display: none;
	position: absolute;
	width: calc(100% - 250px);
	height: 100%;
	z-index: 9998;
	background-color: rgba(0,0,0,0.8);
}
