@import "../../variables", "../../mixins";

.widget-area {
	padding: 0 .5rem;
	@include md {
		padding: 0 1rem;
	}

	.widget {
		@include card;

		.wp-block-heading {
			margin-bottom: 3rem;
			padding: .5rem 0;
			display: inline;
			border-bottom: 1px solid var(--primary);
		}

		.wp-block-latest-posts__list,
		.wp-block-latest-comments,
		.wp-block-archives-list,
		.wp-block-categories-list {
			margin-top: 2rem;
		}

		.wp-block-latest-posts__post-title {
			margin-bottom: 1rem;
		}
	}

	.widget_search {
		form {
			label {
				display: none;
			}

			.wp-block-search__inside-wrapper {
				display: flex;
				flex-direction: column;
				@include sm {
					flex-direction: row;
				}

				input {
					width: 100%;
					background-color: var(--bg-colour-darker);
					color: var(--text);
					padding: .5rem;
					border: 1px solid var(--primary);
					border-radius: $bord-rad;
					box-shadow: $shadow;
				}
	
				.wp-block-search__button {
					@include btn(var(--primary));
					margin: 1rem 0 0 0;
					@include sm {
						margin: 0 0 0 1rem;
					}
				}
			}

		}
	}
}
