@import '../../variables', '../../mixins';

body.cv {
	.content {
		display: flex;

		/*
		 * SIDE BAR
		 */
		#cv-sidebar-container {
			@include container;
			flex-basis: 33.4%;
			max-width: 33.4%;
			margin-right: 1rem;

			.contact-header,
			.skills-key-header,
			.education-header {
				margin-bottom: 2rem;
			}

			h3 {
				padding-bottom: .25rem;
				display: inline;
				border-bottom: 3px solid var(--primary);
			}

			.sidebar-header,
			.contact-container,
			.skills-key-container,
			.education-container {
				margin-bottom: 2.5rem;
			}

			.sidebar-header {
				img {
					max-width: 100%;
					clip-path: circle(50%);
					box-shadow: $shadow;
				}
			}

			.contacts-container {
				display: flex;
				justify-content: space-between;
				align-items: center;

				i {
					margin-right: .5rem;
					font-size: 1.5rem;
				}

				a {
					font-size: 1rem;
				}
			}

			.skills-level {
				h4 {
					color: var(--primary);
					font-weight: 500;
				}
			}

			.education-container {
				h3 {
					margin-bottom: 1rem;
				}

				.education-body {
					.education-item {
						margin-bottom: 1rem;

						h4 {
							margin-bottom: .5rem;
						}

						h4 {
							color: var(--primary);
							font-weight: 400;
						}

						p {
							color: $even-darker-grey;
						}

						ul {
							li {
								margin-bottom: .5rem;
								margin-left: 1.5rem;
								list-style-type: initial;
							}
						}
					}
				}
			}
		}

		/*
		 * MAIN CONTENT
		 */
		#primary {
			h2 {
				padding-bottom: .25rem;
				display: inline;
				border-bottom: 3px solid var(--primary);
			}

			.summary-container {
				@include container;
				margin-bottom: 1rem;

				.summary-body {
					margin-top: 1.5rem;
				}
			}

			.skills-cards-container {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: center;

				.skill-card {
					max-width: 300px;
					@include card;

					.skill-card-logo-wrapper {
						.skill-card-logo {
							img {
								max-width: 200px;
								height: 200px;
								object-fit: cover;
								opacity: .9;
								filter: grayscale(60%);
								transition: opacity .5s ease, filter .5s ease;
							}
						}
					}

					&:hover {
						.skill-card-logo-wrapper {
							.skill-card-logo {
								img {
									opacity: 1;
									filter: grayscale(0%);
								}
							}
						}
					}

					.skill-card-header,
					.skill-card-body {
						display: flex;
						flex-wrap: wrap;
						justify-content: center;
						align-items: center;
						padding: 0 1rem;
						margin: 1rem 0;

						h2,
						p {
							max-width: 200px;
							margin-bottom: 0;
							word-wrap: break-word;
						}
					}
				}
			}

			.experience-container {
				@include container;

				.experience-body {
					margin-top: 1.5rem;

					.experience-item {
						margin-bottom: 1rem;

						h4 {
							margin-bottom: .5rem;
						}

						h4 {
							color: var(--primary);
							font-weight: 400;
						}

						p {
							color: $even-darker-grey;
						}

						ul {
							li {
								margin-bottom: .5rem;
								margin-left: 1.5rem;
								list-style-type: initial;
							}
						}
					}
				}
			}
		}
	}
}

.skill-level-container {
	max-width: 200px;
	margin: 1rem 0;

	.level-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.level {
		width: 50px;
		height: 20px;
		border: 1px groove $slightly-darker-grey;
		border-radius: 5px;
		box-shadow: $shadow;
		position: relative;
		overflow: hidden;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			height: 100%;
			border-radius: inherit;
			transform: translate(-50%, -50%);
			background: linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.1));
			box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
			z-index: 1;
		}

		.level-fill {
			height: 100%;
			position: relative;
			z-index: 2;
		}
	}

	.level-full {
		.level-fill {
			background: var(--primary-linear);
		}
	}

	.level-partial {
		display: flex;

		div:nth-child(1) {
			background: var(--primary-linear);
		}

		div:nth-child(2) {
			background: var(--primary-lighter-linear);
			opacity: .5;
		}
	}

	.level-empty {
		.level-fill {
			background: var(--primary-lighter-linear);
			opacity: .5;
		}
	}
}
