html[data-theme="light"] {
  --primary: #2FB279;
  --primary-linear: linear-gradient(45deg, #2FB279, #2FB279);
  --primary-lighter: #2FB279;
  --primary-lighter-linear: linear-gradient(45deg, #2FB279, #6ed9aa);
  --secondary: #F5E13B;
  --secondary-linear: linear-gradient(45deg, #F5E13B, #F9ED89);
  --secondary-lighter: #F9ED89;
  --secondary-lighter-linear: linear-gradient(45deg, #F9ED89, #fefcea);
  --text: #1d1b1b;
  --bg-colour: #FCFCFC;
  --bg-colour-darker: #F7F7F7; }
  html[data-theme="light"] .fa-sun-o {
    display: none; }

html[data-theme="dark"] {
  --primary: #F5E13B;
  --primary-linear: linear-gradient(45deg, #F5E13B, #F9ED89);
  --primary-lighter: #F9ED89;
  --primary-lighter-linear: linear-gradient(45deg, #F9ED89, #fefcea);
  --secondary: #2FB279;
  --secondary-linear: linear-gradient(45deg, #2FB279, #2FB279);
  --secondary-lighter: #2FB279;
  --secondary-lighter-linear: linear-gradient(45deg, #2FB279, #6ed9aa);
  --text: #FCFCFC;
  --bg-colour: #252627;
  --bg-colour-darker: #1d1b1b; }
  html[data-theme="dark"] .fa-moon-o {
    display: none; }

html[data-theme="light"] {
  --primary: #2FB279;
  --primary-linear: linear-gradient(45deg, #2FB279, #2FB279);
  --primary-lighter: #2FB279;
  --primary-lighter-linear: linear-gradient(45deg, #2FB279, #6ed9aa);
  --secondary: #F5E13B;
  --secondary-linear: linear-gradient(45deg, #F5E13B, #F9ED89);
  --secondary-lighter: #F9ED89;
  --secondary-lighter-linear: linear-gradient(45deg, #F9ED89, #fefcea);
  --text: #1d1b1b;
  --bg-colour: #FCFCFC;
  --bg-colour-darker: #F7F7F7; }
  html[data-theme="light"] .fa-sun-o {
    display: none; }

html[data-theme="dark"] {
  --primary: #F5E13B;
  --primary-linear: linear-gradient(45deg, #F5E13B, #F9ED89);
  --primary-lighter: #F9ED89;
  --primary-lighter-linear: linear-gradient(45deg, #F9ED89, #fefcea);
  --secondary: #2FB279;
  --secondary-linear: linear-gradient(45deg, #2FB279, #2FB279);
  --secondary-lighter: #2FB279;
  --secondary-lighter-linear: linear-gradient(45deg, #2FB279, #6ed9aa);
  --text: #FCFCFC;
  --bg-colour: #252627;
  --bg-colour-darker: #1d1b1b; }
  html[data-theme="dark"] .fa-moon-o {
    display: none; }

html[data-theme="light"] {
  --primary: #2FB279;
  --primary-linear: linear-gradient(45deg, #2FB279, #2FB279);
  --primary-lighter: #2FB279;
  --primary-lighter-linear: linear-gradient(45deg, #2FB279, #6ed9aa);
  --secondary: #F5E13B;
  --secondary-linear: linear-gradient(45deg, #F5E13B, #F9ED89);
  --secondary-lighter: #F9ED89;
  --secondary-lighter-linear: linear-gradient(45deg, #F9ED89, #fefcea);
  --text: #1d1b1b;
  --bg-colour: #FCFCFC;
  --bg-colour-darker: #F7F7F7; }
  html[data-theme="light"] .fa-sun-o {
    display: none; }

html[data-theme="dark"] {
  --primary: #F5E13B;
  --primary-linear: linear-gradient(45deg, #F5E13B, #F9ED89);
  --primary-lighter: #F9ED89;
  --primary-lighter-linear: linear-gradient(45deg, #F9ED89, #fefcea);
  --secondary: #2FB279;
  --secondary-linear: linear-gradient(45deg, #2FB279, #2FB279);
  --secondary-lighter: #2FB279;
  --secondary-lighter-linear: linear-gradient(45deg, #2FB279, #6ed9aa);
  --text: #FCFCFC;
  --bg-colour: #252627;
  --bg-colour-darker: #1d1b1b; }
  html[data-theme="dark"] .fa-moon-o {
    display: none; }

html[data-theme="light"] {
  --primary: #2FB279;
  --primary-linear: linear-gradient(45deg, #2FB279, #2FB279);
  --primary-lighter: #2FB279;
  --primary-lighter-linear: linear-gradient(45deg, #2FB279, #6ed9aa);
  --secondary: #F5E13B;
  --secondary-linear: linear-gradient(45deg, #F5E13B, #F9ED89);
  --secondary-lighter: #F9ED89;
  --secondary-lighter-linear: linear-gradient(45deg, #F9ED89, #fefcea);
  --text: #1d1b1b;
  --bg-colour: #FCFCFC;
  --bg-colour-darker: #F7F7F7; }
  html[data-theme="light"] .fa-sun-o {
    display: none; }

html[data-theme="dark"] {
  --primary: #F5E13B;
  --primary-linear: linear-gradient(45deg, #F5E13B, #F9ED89);
  --primary-lighter: #F9ED89;
  --primary-lighter-linear: linear-gradient(45deg, #F9ED89, #fefcea);
  --secondary: #2FB279;
  --secondary-linear: linear-gradient(45deg, #2FB279, #2FB279);
  --secondary-lighter: #2FB279;
  --secondary-lighter-linear: linear-gradient(45deg, #2FB279, #6ed9aa);
  --text: #FCFCFC;
  --bg-colour: #252627;
  --bg-colour-darker: #1d1b1b; }
  html[data-theme="dark"] .fa-moon-o {
    display: none; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.75px; }

body {
  color: var(--text); }

#page-wrapper {
  background-color: var(--bg-colour-darker);
  position: relative;
  transition: left .5s; }

/**
 * CARDS
 */
.card {
  background-color: var(--bg-colour);
  border: 1px solid var(--bg-colour);
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-bottom: 2rem;
  transition: transform .3s ease; }
  .card:hover {
    transform: translateY(-5px); }

/**
 * LINKS
 */
a {
  text-decoration: none;
  color: var(--primary);
  transition: all .1s ease-in-out; }
  a:hover {
    color: var(--text); }

li {
  list-style-type: none; }

h2, h3, h4, h5, h6 {
  padding-bottom: .5rem;
  display: inline;
  border-bottom: 3px solid var(--primary); }

p {
  margin-bottom: .5rem; }

button {
  display: inline-block;
  background-color: var(--primary);
  color: var(--bg-colour);
  padding: .75rem 1.5rem;
  border: 2px solid var(--primary);
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .15s ease-in-out; }
  button:hover {
    background-color: var(--bg-colour);
    color: var(--text); }
  button:active {
    transform: scale(0.99); }

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s; }

@media (prefers-reduced-motion) {
  .hidden {
    transition: none; } }

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  display: block; }

html[data-theme="light"] {
  --primary: #2FB279;
  --primary-linear: linear-gradient(45deg, #2FB279, #2FB279);
  --primary-lighter: #2FB279;
  --primary-lighter-linear: linear-gradient(45deg, #2FB279, #6ed9aa);
  --secondary: #F5E13B;
  --secondary-linear: linear-gradient(45deg, #F5E13B, #F9ED89);
  --secondary-lighter: #F9ED89;
  --secondary-lighter-linear: linear-gradient(45deg, #F9ED89, #fefcea);
  --text: #1d1b1b;
  --bg-colour: #FCFCFC;
  --bg-colour-darker: #F7F7F7; }
  html[data-theme="light"] .fa-sun-o {
    display: none; }

html[data-theme="dark"] {
  --primary: #F5E13B;
  --primary-linear: linear-gradient(45deg, #F5E13B, #F9ED89);
  --primary-lighter: #F9ED89;
  --primary-lighter-linear: linear-gradient(45deg, #F9ED89, #fefcea);
  --secondary: #2FB279;
  --secondary-linear: linear-gradient(45deg, #2FB279, #2FB279);
  --secondary-lighter: #2FB279;
  --secondary-lighter-linear: linear-gradient(45deg, #2FB279, #6ed9aa);
  --text: #FCFCFC;
  --bg-colour: #252627;
  --bg-colour-darker: #1d1b1b; }
  html[data-theme="dark"] .fa-moon-o {
    display: none; }

html[data-theme="light"] {
  --primary: #2FB279;
  --primary-linear: linear-gradient(45deg, #2FB279, #2FB279);
  --primary-lighter: #2FB279;
  --primary-lighter-linear: linear-gradient(45deg, #2FB279, #6ed9aa);
  --secondary: #F5E13B;
  --secondary-linear: linear-gradient(45deg, #F5E13B, #F9ED89);
  --secondary-lighter: #F9ED89;
  --secondary-lighter-linear: linear-gradient(45deg, #F9ED89, #fefcea);
  --text: #1d1b1b;
  --bg-colour: #FCFCFC;
  --bg-colour-darker: #F7F7F7; }
  html[data-theme="light"] .fa-sun-o {
    display: none; }

html[data-theme="dark"] {
  --primary: #F5E13B;
  --primary-linear: linear-gradient(45deg, #F5E13B, #F9ED89);
  --primary-lighter: #F9ED89;
  --primary-lighter-linear: linear-gradient(45deg, #F9ED89, #fefcea);
  --secondary: #2FB279;
  --secondary-linear: linear-gradient(45deg, #2FB279, #2FB279);
  --secondary-lighter: #2FB279;
  --secondary-lighter-linear: linear-gradient(45deg, #2FB279, #6ed9aa);
  --text: #FCFCFC;
  --bg-colour: #252627;
  --bg-colour-darker: #1d1b1b; }
  html[data-theme="dark"] .fa-moon-o {
    display: none; }

body.cv #primary {
  margin-right: 0; }
  @media (min-width: 992px) {
    body.cv #primary {
      margin-right: 1rem; } }

body.cv .content {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100%; }
  @media (min-width: 992px) {
    body.cv .content {
      grid-template-columns: 33.4% 66.6%;
      column-gap: 1rem;
      grid-template-rows: repeat(7, auto); } }
  body.cv .content .contact-container,
  body.cv .content .summary-container,
  body.cv .content .skills-key-container,
  body.cv .content .experience-container,
  body.cv .content .education-container {
    background-color: var(--bg-colour);
    margin-bottom: 2rem;
    padding: 2rem;
    border: 1px solid var(--bg-colour);
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); }
  body.cv .content .contact-header,
  body.cv .content .education-header {
    margin-bottom: 2rem; }
  body.cv .content .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    @media (min-width: 992px) {
      body.cv .content .contact-container {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2; } }
    @media (min-width: 768px) {
      body.cv .content .contact-container .contact-header {
        display: flex;
        justify-content: center; } }
    body.cv .content .contact-container .contact-header img {
      max-width: 100%;
      clip-path: circle(50%);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); }
      @media (min-width: 768px) {
        body.cv .content .contact-container .contact-header img {
          max-width: 33%; } }
      @media (min-width: 992px) {
        body.cv .content .contact-container .contact-header img {
          max-width: 66%; } }
      @media (min-width: 1200px) {
        body.cv .content .contact-container .contact-header img {
          max-width: 55%; } }
      @media (min-width: 1440px) {
        body.cv .content .contact-container .contact-header img {
          max-width: 45%; } }
    body.cv .content .contact-container .contacts-wrapper {
      max-width: 100%; }
      body.cv .content .contact-container .contacts-wrapper .contact-title {
        display: flex;
        justify-content: center;
        align-items: center; }
      body.cv .content .contact-container .contacts-wrapper .contacts-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 1rem; }
        body.cv .content .contact-container .contacts-wrapper .contacts-container .linkedin-container {
          margin-right: 2rem; }
        body.cv .content .contact-container .contacts-wrapper .contacts-container i {
          margin-right: .5rem;
          font-size: 1.5rem; }
        body.cv .content .contact-container .contacts-wrapper .contacts-container a {
          font-size: 1rem; }
  body.cv .content .summary-container {
    background-color: var(--bg-colour);
    margin-bottom: 2rem;
    padding: 2rem;
    border: 1px solid var(--bg-colour);
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); }
    @media (min-width: 992px) {
      body.cv .content .summary-container {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2; } }
    body.cv .content .summary-container .summary-body {
      margin-top: 1.5rem; }
  body.cv .content .skill-level-container {
    max-width: 200px;
    margin: 2rem 0 1.5rem; }
    @media (min-width: 992px) {
      body.cv .content .skill-level-container {
        grid-row-start: 2;
        grid-row-end: 3; } }
    body.cv .content .skill-level-container .level-container {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    body.cv .content .skill-level-container .level {
      width: 45px;
      height: 20px;
      margin-right: .125rem;
      border: 1px groove #dedede;
      border-radius: 5px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      position: relative;
      overflow: hidden; }
      body.cv .content .skill-level-container .level:nth-child(2) {
        transition-delay: 100ms; }
      body.cv .content .skill-level-container .level:nth-child(3) {
        transition-delay: 200ms; }
      body.cv .content .skill-level-container .level:nth-child(4) {
        transition-delay: 300ms; }
      body.cv .content .skill-level-container .level:nth-child(5) {
        transition-delay: 400ms; }
      body.cv .content .skill-level-container .level::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        transform: translate(-50%, -50%);
        background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        z-index: 1; }
      body.cv .content .skill-level-container .level .level-fill {
        height: 100%;
        position: relative;
        z-index: 2; }
    body.cv .content .skill-level-container .level-full .level-fill {
      background: var(--primary-linear); }
    body.cv .content .skill-level-container .level-partial {
      display: flex; }
      body.cv .content .skill-level-container .level-partial div:nth-child(1) {
        background: var(--primary-linear); }
      body.cv .content .skill-level-container .level-partial div:nth-child(2) {
        background: var(--primary-lighter-linear);
        opacity: .5; }
    body.cv .content .skill-level-container .level-empty .level-fill {
      background: var(--primary-lighter-linear);
      opacity: .5; }
  @media (min-width: 992px) {
    body.cv .content .skills-key-container {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3; } }
  body.cv .content .skills-key-container .skills-key-header {
    margin-bottom: 3rem; }
  @media (min-width: 768px) {
    body.cv .content .skills-key-container .skills-first-pair-wrapper,
    body.cv .content .skills-key-container .skills-second-pair-wrapper {
      display: flex; } }
  @media (min-width: 768px) and (min-width: 992px) {
    body.cv .content .skills-key-container .skills-first-pair-wrapper,
    body.cv .content .skills-key-container .skills-second-pair-wrapper {
      flex-direction: column; } }
  @media (min-width: 768px) {
      body.cv .content .skills-key-container .skills-first-pair-wrapper .skills-level,
      body.cv .content .skills-key-container .skills-second-pair-wrapper .skills-level {
        flex: 1; } }
  body.cv .content .skills-cards-container {
    display: grid;
    grid-template-columns: 1fr; }
    @media (min-width: 768px) {
      body.cv .content .skills-cards-container {
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem; } }
    @media (min-width: 992px) {
      body.cv .content .skills-cards-container {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 5; } }
    body.cv .content .skills-cards-container .skill-card {
      max-width: 100%;
      background-color: var(--bg-colour);
      border: 1px solid var(--bg-colour);
      border-radius: 10px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      padding: 2rem;
      margin-bottom: 2rem;
      transition: transform .3s ease;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      body.cv .content .skills-cards-container .skill-card:hover {
        transform: translateY(-5px); }
      body.cv .content .skills-cards-container .skill-card .skill-card-logo-wrapper .skill-card-logo img {
        max-width: 200px;
        height: 200px;
        object-fit: cover;
        opacity: .9; }
        @media (min-width: 992px) {
          body.cv .content .skills-cards-container .skill-card .skill-card-logo-wrapper .skill-card-logo img {
            filter: grayscale(60%);
            transition: opacity .5s ease, filter .5s ease; } }
      body.cv .content .skills-cards-container .skill-card:hover .skill-card-logo-wrapper .skill-card-logo img {
        opacity: 1;
        filter: grayscale(0%); }
      body.cv .content .skills-cards-container .skill-card .skill-card-header,
      body.cv .content .skills-cards-container .skill-card .skill-card-body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
        margin: 1rem 0; }
        body.cv .content .skills-cards-container .skill-card .skill-card-header h2,
        body.cv .content .skills-cards-container .skill-card .skill-card-header p,
        body.cv .content .skills-cards-container .skill-card .skill-card-body h2,
        body.cv .content .skills-cards-container .skill-card .skill-card-body p {
          max-width: 200px;
          margin-bottom: 0;
          word-wrap: break-word; }
  body.cv .content .experience-container {
    background-color: var(--bg-colour);
    margin-bottom: 2rem;
    padding: 2rem;
    border: 1px solid var(--bg-colour);
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); }
    @media (min-width: 992px) {
      body.cv .content .experience-container {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4; } }
    body.cv .content .experience-container .experience-body {
      margin-top: 1.5rem; }
      body.cv .content .experience-container .experience-body .experience-item {
        margin-bottom: 1rem; }
        body.cv .content .experience-container .experience-body .experience-item h4 {
          color: var(--primary);
          border-bottom: none;
          font-weight: 400; }
        body.cv .content .experience-container .experience-body .experience-item .experience-content {
          margin-top: .5rem; }
          body.cv .content .experience-container .experience-body .experience-item .experience-content p {
            color: #a1a1a1; }
          body.cv .content .experience-container .experience-body .experience-item .experience-content ul li {
            margin-bottom: .5rem;
            margin-left: 1.5rem;
            list-style-type: initial; }
  @media (min-width: 992px) {
    body.cv .content .education-container {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 4;
      grid-row-end: 5; } }
  body.cv .content .education-container h3 {
    margin-bottom: 1rem; }
  body.cv .content .education-container .education-body .education-item {
    margin-bottom: 1rem; }
    body.cv .content .education-container .education-body .education-item h4 {
      color: var(--primary);
      margin-bottom: .5rem;
      border-bottom: none;
      font-weight: 400; }
    body.cv .content .education-container .education-body .education-item .education-content {
      margin-top: .5rem; }
      body.cv .content .education-container .education-body .education-item .education-content p {
        color: #a1a1a1; }
      body.cv .content .education-container .education-body .education-item .education-content ul li {
        margin-bottom: .5rem;
        margin-left: 1.5rem;
        list-style-type: initial; }

html[data-theme="light"] {
  --primary: #2FB279;
  --primary-linear: linear-gradient(45deg, #2FB279, #2FB279);
  --primary-lighter: #2FB279;
  --primary-lighter-linear: linear-gradient(45deg, #2FB279, #6ed9aa);
  --secondary: #F5E13B;
  --secondary-linear: linear-gradient(45deg, #F5E13B, #F9ED89);
  --secondary-lighter: #F9ED89;
  --secondary-lighter-linear: linear-gradient(45deg, #F9ED89, #fefcea);
  --text: #1d1b1b;
  --bg-colour: #FCFCFC;
  --bg-colour-darker: #F7F7F7; }
  html[data-theme="light"] .fa-sun-o {
    display: none; }

html[data-theme="dark"] {
  --primary: #F5E13B;
  --primary-linear: linear-gradient(45deg, #F5E13B, #F9ED89);
  --primary-lighter: #F9ED89;
  --primary-lighter-linear: linear-gradient(45deg, #F9ED89, #fefcea);
  --secondary: #2FB279;
  --secondary-linear: linear-gradient(45deg, #2FB279, #2FB279);
  --secondary-lighter: #2FB279;
  --secondary-lighter-linear: linear-gradient(45deg, #2FB279, #6ed9aa);
  --text: #FCFCFC;
  --bg-colour: #252627;
  --bg-colour-darker: #1d1b1b; }
  html[data-theme="dark"] .fa-moon-o {
    display: none; }

html[data-theme="light"] {
  --primary: #2FB279;
  --primary-linear: linear-gradient(45deg, #2FB279, #2FB279);
  --primary-lighter: #2FB279;
  --primary-lighter-linear: linear-gradient(45deg, #2FB279, #6ed9aa);
  --secondary: #F5E13B;
  --secondary-linear: linear-gradient(45deg, #F5E13B, #F9ED89);
  --secondary-lighter: #F9ED89;
  --secondary-lighter-linear: linear-gradient(45deg, #F9ED89, #fefcea);
  --text: #1d1b1b;
  --bg-colour: #FCFCFC;
  --bg-colour-darker: #F7F7F7; }
  html[data-theme="light"] .fa-sun-o {
    display: none; }

html[data-theme="dark"] {
  --primary: #F5E13B;
  --primary-linear: linear-gradient(45deg, #F5E13B, #F9ED89);
  --primary-lighter: #F9ED89;
  --primary-lighter-linear: linear-gradient(45deg, #F9ED89, #fefcea);
  --secondary: #2FB279;
  --secondary-linear: linear-gradient(45deg, #2FB279, #2FB279);
  --secondary-lighter: #2FB279;
  --secondary-lighter-linear: linear-gradient(45deg, #2FB279, #6ed9aa);
  --text: #FCFCFC;
  --bg-colour: #252627;
  --bg-colour-darker: #1d1b1b; }
  html[data-theme="dark"] .fa-moon-o {
    display: none; }

.content-wrapper {
  margin: 0 auto; }

.content {
  max-width: 100%; }
  .content .hero-container,
  .content .project-wrapper,
  .content .contact-container {
    background-color: var(--bg-colour);
    margin-bottom: 2rem;
    padding: 2rem;
    border: 1px solid var(--bg-colour);
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); }
  .content .carousel {
    position: relative;
    width: 100%;
    height: calc(100vh - 200px); }
    .content .carousel ul {
      margin: 0;
      padding: 0;
      list-style: none; }
    .content .carousel .slide {
      position: absolute;
      text-align: center;
      inset: 0;
      opacity: 0;
      transition: 200ms opacity ease-in-out;
      transition-delay: 200ms; }
      .content .carousel .slide > img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center; }
      .content .carousel .slide .hero-text-wrapper {
        position: absolute;
        z-index: 5;
        background-color: var(--bg-colour);
        padding: 2rem 4rem;
        border: 1px solid var(--bg-colour);
        border-radius: 10px; }
        .content .carousel .slide .hero-text-wrapper p {
          margin: 2rem 0; }
    .content .carousel .slide-one .hero-text-wrapper {
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%); }
    .content .carousel .slide-two .hero-text-wrapper {
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%); }
    .content .carousel .slide-three .hero-text-wrapper {
      top: 75%;
      right: 50%;
      transform: translate(50%, -50%); }
    .content .carousel .slide[data-active] {
      opacity: 1;
      z-index: 1;
      transition-delay: 0ms; }
    .content .carousel .carousel-button {
      position: absolute;
      top: 50%;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.1);
      color: rgba(255, 255, 255, 0.5);
      padding: 0 .5rem;
      border: none;
      border-radius: .25rem;
      cursor: pointer;
      font-size: 4rem;
      transform: translateY(-50%); }
      .content .carousel .carousel-button:hover, .content .carousel .carousel-button:focus {
        color: white;
        background-color: rgba(0, 0, 0, 0.2); }
      .content .carousel .carousel-button:focus {
        outline: 1px solid black; }
      .content .carousel .carousel-button.prev {
        left: 1rem; }
      .content .carousel .carousel-button.next {
        right: 1rem; }
    .content .carousel .carousel-dots {
      margin-bottom: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 3;
      position: absolute;
      top: 95%;
      left: 50%;
      transform: translateX(-50%); }
      .content .carousel .carousel-dots .carousel-dot {
        width: 8px;
        height: 8px;
        cursor: pointer;
        border-radius: 8px;
        background-color: #5f5f5f;
        margin: 0 4px;
        transition: 100ms background-color ease-in; }
        .content .carousel .carousel-dots .carousel-dot.active {
          background-color: #afafaf; }
  .content .projects-container {
    max-width: 100%;
    display: flex;
    flex-direction: column; }
    @media (min-width: 768px) {
      .content .projects-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between; } }
    .content .projects-container .project-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      @media (min-width: 768px) {
        .content .projects-container .project-wrapper {
          width: 48%; } }
      @media (min-width: 1200px) {
        .content .projects-container .project-wrapper {
          width: 24%; } }
      .content .projects-container .project-wrapper:nth-child(2) {
        transition-delay: 0ms; }
        @media (min-width: 768px) {
          .content .projects-container .project-wrapper:nth-child(2) {
            transition-delay: 200ms; } }
      .content .projects-container .project-wrapper:nth-child(3) {
        transition-delay: 0ms; }
        @media (min-width: 768px) {
          .content .projects-container .project-wrapper:nth-child(3) {
            transition-delay: 400ms; } }
      .content .projects-container .project-wrapper:nth-child(4) {
        transition-delay: 0ms; }
        @media (min-width: 768px) {
          .content .projects-container .project-wrapper:nth-child(4) {
            transition-delay: 600ms; } }
      .content .projects-container .project-wrapper .image-wrapper {
        max-width: 100%;
        border-radius: 10px; }
        .content .projects-container .project-wrapper .image-wrapper > img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          border-radius: 10px; }
      .content .projects-container .project-wrapper .project-title,
      .content .projects-container .project-wrapper .project-blurb,
      .content .projects-container .project-wrapper .read-more {
        margin-top: 1rem; }
      .content .projects-container .project-wrapper .read-more a {
        color: var(--bg-colour); }
        .content .projects-container .project-wrapper .read-more a:hover {
          color: var(--text); }
  .content .contact-container {
    display: flex;
    flex-direction: column; }
    @media (min-width: 992px) {
      .content .contact-container {
        align-items: center; } }
    .content .contact-container .contact-form-wrapper {
      margin-top: 2rem;
      width: 100%; }
      @media (min-width: 768px) {
        .content .contact-container .contact-form-wrapper {
          width: 80%; } }
      @media (min-width: 992px) {
        .content .contact-container .contact-form-wrapper {
          width: 50%; } }
      .content .contact-container .contact-form-wrapper form input[name="your-name"],
      .content .contact-container .contact-form-wrapper form input[name="your-email"],
      .content .contact-container .contact-form-wrapper form input[name="your-subject"],
      .content .contact-container .contact-form-wrapper form textarea[name="your-message"] {
        width: 100%;
        font-family: 'Roboto', sans-serif;
        margin-top: .5rem;
        padding: .5rem;
        border: 1px solid var(--primary);
        border-radius: 10px; }
      .content .contact-container .contact-form-wrapper form input[type="submit"] {
        display: inline-block;
        background-color: var(--primary);
        color: var(--bg-colour);
        padding: 1rem 2rem;
        border: 1px solid var(--primary);
        border-radius: 10px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        font-weight: 600;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        transition: all .1s ease-in-out;
        margin-top: 1rem; }
        .content .contact-container .contact-form-wrapper form input[type="submit"]:hover {
          background-color: var(--bg-colour);
          color: var(--primary); }
        .content .contact-container .contact-form-wrapper form input[type="submit"]:active {
          transform: scale(0.99); }

html[data-theme="light"] {
  --primary: #2FB279;
  --primary-linear: linear-gradient(45deg, #2FB279, #2FB279);
  --primary-lighter: #2FB279;
  --primary-lighter-linear: linear-gradient(45deg, #2FB279, #6ed9aa);
  --secondary: #F5E13B;
  --secondary-linear: linear-gradient(45deg, #F5E13B, #F9ED89);
  --secondary-lighter: #F9ED89;
  --secondary-lighter-linear: linear-gradient(45deg, #F9ED89, #fefcea);
  --text: #1d1b1b;
  --bg-colour: #FCFCFC;
  --bg-colour-darker: #F7F7F7; }
  html[data-theme="light"] .fa-sun-o {
    display: none; }

html[data-theme="dark"] {
  --primary: #F5E13B;
  --primary-linear: linear-gradient(45deg, #F5E13B, #F9ED89);
  --primary-lighter: #F9ED89;
  --primary-lighter-linear: linear-gradient(45deg, #F9ED89, #fefcea);
  --secondary: #2FB279;
  --secondary-linear: linear-gradient(45deg, #2FB279, #2FB279);
  --secondary-lighter: #2FB279;
  --secondary-lighter-linear: linear-gradient(45deg, #2FB279, #6ed9aa);
  --text: #FCFCFC;
  --bg-colour: #252627;
  --bg-colour-darker: #1d1b1b; }
  html[data-theme="dark"] .fa-moon-o {
    display: none; }

html[data-theme="light"] {
  --primary: #2FB279;
  --primary-linear: linear-gradient(45deg, #2FB279, #2FB279);
  --primary-lighter: #2FB279;
  --primary-lighter-linear: linear-gradient(45deg, #2FB279, #6ed9aa);
  --secondary: #F5E13B;
  --secondary-linear: linear-gradient(45deg, #F5E13B, #F9ED89);
  --secondary-lighter: #F9ED89;
  --secondary-lighter-linear: linear-gradient(45deg, #F9ED89, #fefcea);
  --text: #1d1b1b;
  --bg-colour: #FCFCFC;
  --bg-colour-darker: #F7F7F7; }
  html[data-theme="light"] .fa-sun-o {
    display: none; }

html[data-theme="dark"] {
  --primary: #F5E13B;
  --primary-linear: linear-gradient(45deg, #F5E13B, #F9ED89);
  --primary-lighter: #F9ED89;
  --primary-lighter-linear: linear-gradient(45deg, #F9ED89, #fefcea);
  --secondary: #2FB279;
  --secondary-linear: linear-gradient(45deg, #2FB279, #2FB279);
  --secondary-lighter: #2FB279;
  --secondary-lighter-linear: linear-gradient(45deg, #2FB279, #6ed9aa);
  --text: #FCFCFC;
  --bg-colour: #252627;
  --bg-colour-darker: #1d1b1b; }
  html[data-theme="dark"] .fa-moon-o {
    display: none; }

#site-header {
  background-color: var(--bg-colour);
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); }
  #site-header .header-wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #site-header .header-wrapper #burger-wrapper {
      order: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--bg-colour) !important;
      padding: 0;
      border: none;
      cursor: pointer; }
      @media (min-width: 768px) {
        #site-header .header-wrapper #burger-wrapper {
          width: 25%;
          justify-content: normal; } }
      @media (min-width: 992px) {
        #site-header .header-wrapper #burger-wrapper {
          display: none; } }
      #site-header .header-wrapper #burger-wrapper .burger-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 56px;
        height: 63px; }
        #site-header .header-wrapper #burger-wrapper .burger-box .burger-inner,
        #site-header .header-wrapper #burger-wrapper .burger-box .burger-inner::before,
        #site-header .header-wrapper #burger-wrapper .burger-box .burger-inner::after {
          display: block;
          position: absolute;
          height: 5px;
          width: 30px;
          border-radius: 3px;
          background-color: var(--primary); }
        #site-header .header-wrapper #burger-wrapper .burger-box .burger-inner::before {
          content: '';
          margin-top: -10px; }
        #site-header .header-wrapper #burger-wrapper .burger-box .burger-inner::after {
          content: '';
          margin-top: 10px; }
    #site-header .header-wrapper .site-branding {
      order: 2;
      width: 50%;
      display: flex;
      justify-content: center; }
      @media (min-width: 768px) {
        #site-header .header-wrapper .site-branding {
          order: 1;
          width: 25%;
          justify-content: flex-start; } }
      #site-header .header-wrapper .site-branding .site-title a {
        color: var(--primary);
        text-decoration: none;
        text-transform: uppercase; }
    #site-header .header-wrapper .main-navigation {
      display: none;
      width: 50%; }
      @media (min-width: 992px) {
        #site-header .header-wrapper .main-navigation {
          display: block;
          order: 2; } }
      #site-header .header-wrapper .main-navigation ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
        list-style-type: none; }
        #site-header .header-wrapper .main-navigation ul .menu-item {
          margin: 0 1rem;
          padding: 1rem 0; }
          #site-header .header-wrapper .main-navigation ul .menu-item:first-child {
            margin-left: 0; }
          #site-header .header-wrapper .main-navigation ul .menu-item:last-child {
            margin-right: 0; }
          #site-header .header-wrapper .main-navigation ul .menu-item a {
            color: var(--text);
            padding: 1rem 0;
            text-decoration: none;
            text-transform: uppercase;
            opacity: .8; }
        #site-header .header-wrapper .main-navigation ul .current_page_item {
          display: inline;
          border-bottom: 1px solid var(--primary); }
          #site-header .header-wrapper .main-navigation ul .current_page_item a {
            color: var(--primary); }
    #site-header .header-wrapper #colour-switch-wrapper {
      order: 3;
      width: 25%; }
      #site-header .header-wrapper #colour-switch-wrapper #switch,
      #site-header .header-wrapper #colour-switch-wrapper .switch-label {
        display: none; }
      #site-header .header-wrapper #colour-switch-wrapper .colour-switch {
        float: right;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 4rem;
        padding: .25rem;
        border: 3px solid var(--primary);
        border-radius: 5rem;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); }
        #site-header .header-wrapper #colour-switch-wrapper .colour-switch .pill span i {
          font-size: 1.5rem; }

#slideout {
  display: none;
  background-color: var(--primary);
  height: 100vh;
  width: 0;
  position: fixed;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s; }
  #slideout .slideout-inner {
    padding: 1rem; }
    #slideout .slideout-inner .close-button {
      color: var(--bg-colour);
      margin-bottom: 2rem;
      font-size: 3rem;
      text-decoration: none;
      cursor: pointer; }
    #slideout .slideout-inner .menu-nav-bar-container {
      margin-top: 1rem; }
      #slideout .slideout-inner .menu-nav-bar-container ul li {
        list-style-type: none;
        margin-bottom: 1rem; }
        #slideout .slideout-inner .menu-nav-bar-container ul li a {
          color: var(--bg-colour);
          text-transform: uppercase;
          text-decoration: none;
          cursor: pointer; }

#overlay {
  display: none;
  position: absolute;
  width: calc(100% - 150px);
  height: 100%;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.8); }

html[data-theme="light"] {
  --primary: #2FB279;
  --primary-linear: linear-gradient(45deg, #2FB279, #2FB279);
  --primary-lighter: #2FB279;
  --primary-lighter-linear: linear-gradient(45deg, #2FB279, #6ed9aa);
  --secondary: #F5E13B;
  --secondary-linear: linear-gradient(45deg, #F5E13B, #F9ED89);
  --secondary-lighter: #F9ED89;
  --secondary-lighter-linear: linear-gradient(45deg, #F9ED89, #fefcea);
  --text: #1d1b1b;
  --bg-colour: #FCFCFC;
  --bg-colour-darker: #F7F7F7; }
  html[data-theme="light"] .fa-sun-o {
    display: none; }

html[data-theme="dark"] {
  --primary: #F5E13B;
  --primary-linear: linear-gradient(45deg, #F5E13B, #F9ED89);
  --primary-lighter: #F9ED89;
  --primary-lighter-linear: linear-gradient(45deg, #F9ED89, #fefcea);
  --secondary: #2FB279;
  --secondary-linear: linear-gradient(45deg, #2FB279, #2FB279);
  --secondary-lighter: #2FB279;
  --secondary-lighter-linear: linear-gradient(45deg, #2FB279, #6ed9aa);
  --text: #FCFCFC;
  --bg-colour: #252627;
  --bg-colour-darker: #1d1b1b; }
  html[data-theme="dark"] .fa-moon-o {
    display: none; }

html[data-theme="light"] {
  --primary: #2FB279;
  --primary-linear: linear-gradient(45deg, #2FB279, #2FB279);
  --primary-lighter: #2FB279;
  --primary-lighter-linear: linear-gradient(45deg, #2FB279, #6ed9aa);
  --secondary: #F5E13B;
  --secondary-linear: linear-gradient(45deg, #F5E13B, #F9ED89);
  --secondary-lighter: #F9ED89;
  --secondary-lighter-linear: linear-gradient(45deg, #F9ED89, #fefcea);
  --text: #1d1b1b;
  --bg-colour: #FCFCFC;
  --bg-colour-darker: #F7F7F7; }
  html[data-theme="light"] .fa-sun-o {
    display: none; }

html[data-theme="dark"] {
  --primary: #F5E13B;
  --primary-linear: linear-gradient(45deg, #F5E13B, #F9ED89);
  --primary-lighter: #F9ED89;
  --primary-lighter-linear: linear-gradient(45deg, #F9ED89, #fefcea);
  --secondary: #2FB279;
  --secondary-linear: linear-gradient(45deg, #2FB279, #2FB279);
  --secondary-lighter: #2FB279;
  --secondary-lighter-linear: linear-gradient(45deg, #2FB279, #6ed9aa);
  --text: #FCFCFC;
  --bg-colour: #252627;
  --bg-colour-darker: #1d1b1b; }
  html[data-theme="dark"] .fa-moon-o {
    display: none; }

.content-wrapper {
  display: flex;
  max-width: 1440px;
  padding: 2rem 0;
  min-height: 100vh; }
  .content-wrapper .site-main {
    flex-basis: 100%;
    padding: 0 1rem; }
  .content-wrapper .widget-area {
    flex-basis: 33.4%; }
  .content-wrapper article {
    background-color: var(--bg-colour);
    border: 1px solid var(--bg-colour);
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-bottom: 2rem;
    transition: transform .3s ease;
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    transition-delay: 400ms; }
    .content-wrapper article:hover {
      transform: translateY(-5px); }
    .content-wrapper article .featured-img-wrapper {
      flex-basis: 33.4%;
      margin-right: 2rem;
      border-radius: 10px;
      overflow: hidden; }
      .content-wrapper article .featured-img-wrapper a img {
        max-width: 100%;
        height: auto; }
    .content-wrapper article .post-content-wrapper {
      flex-basis: 66.6%; }
      .content-wrapper article .post-content-wrapper .entry-header {
        margin-bottom: 1rem; }
        .content-wrapper article .post-content-wrapper .entry-header .entry-title {
          margin-bottom: 1rem; }
          .content-wrapper article .post-content-wrapper .entry-header .entry-title a {
            text-decoration: none;
            color: var(--text); }
        .content-wrapper article .post-content-wrapper .entry-header .entry-meta {
          color: var(--text);
          opacity: .8;
          font-size: .9rem;
          text-transform: capitalize; }
          .content-wrapper article .post-content-wrapper .entry-header .entry-meta span a,
          .content-wrapper article .post-content-wrapper .entry-header .entry-meta span span a {
            color: var(--primary);
            text-decoration: none; }
      .content-wrapper article .post-content-wrapper .entry-footer {
        display: flex;
        flex-direction: column; }
        .content-wrapper article .post-content-wrapper .entry-footer span a {
          color: var(--primary);
          text-decoration: none; }
        .content-wrapper article .post-content-wrapper .entry-footer .cat-links {
          margin-bottom: 1rem; }

html[data-theme="light"] {
  --primary: #2FB279;
  --primary-linear: linear-gradient(45deg, #2FB279, #2FB279);
  --primary-lighter: #2FB279;
  --primary-lighter-linear: linear-gradient(45deg, #2FB279, #6ed9aa);
  --secondary: #F5E13B;
  --secondary-linear: linear-gradient(45deg, #F5E13B, #F9ED89);
  --secondary-lighter: #F9ED89;
  --secondary-lighter-linear: linear-gradient(45deg, #F9ED89, #fefcea);
  --text: #1d1b1b;
  --bg-colour: #FCFCFC;
  --bg-colour-darker: #F7F7F7; }
  html[data-theme="light"] .fa-sun-o {
    display: none; }

html[data-theme="dark"] {
  --primary: #F5E13B;
  --primary-linear: linear-gradient(45deg, #F5E13B, #F9ED89);
  --primary-lighter: #F9ED89;
  --primary-lighter-linear: linear-gradient(45deg, #F9ED89, #fefcea);
  --secondary: #2FB279;
  --secondary-linear: linear-gradient(45deg, #2FB279, #2FB279);
  --secondary-lighter: #2FB279;
  --secondary-lighter-linear: linear-gradient(45deg, #2FB279, #6ed9aa);
  --text: #FCFCFC;
  --bg-colour: #252627;
  --bg-colour-darker: #1d1b1b; }
  html[data-theme="dark"] .fa-moon-o {
    display: none; }

html[data-theme="light"] {
  --primary: #2FB279;
  --primary-linear: linear-gradient(45deg, #2FB279, #2FB279);
  --primary-lighter: #2FB279;
  --primary-lighter-linear: linear-gradient(45deg, #2FB279, #6ed9aa);
  --secondary: #F5E13B;
  --secondary-linear: linear-gradient(45deg, #F5E13B, #F9ED89);
  --secondary-lighter: #F9ED89;
  --secondary-lighter-linear: linear-gradient(45deg, #F9ED89, #fefcea);
  --text: #1d1b1b;
  --bg-colour: #FCFCFC;
  --bg-colour-darker: #F7F7F7; }
  html[data-theme="light"] .fa-sun-o {
    display: none; }

html[data-theme="dark"] {
  --primary: #F5E13B;
  --primary-linear: linear-gradient(45deg, #F5E13B, #F9ED89);
  --primary-lighter: #F9ED89;
  --primary-lighter-linear: linear-gradient(45deg, #F9ED89, #fefcea);
  --secondary: #2FB279;
  --secondary-linear: linear-gradient(45deg, #2FB279, #2FB279);
  --secondary-lighter: #2FB279;
  --secondary-lighter-linear: linear-gradient(45deg, #2FB279, #6ed9aa);
  --text: #FCFCFC;
  --bg-colour: #252627;
  --bg-colour-darker: #1d1b1b; }
  html[data-theme="dark"] .fa-moon-o {
    display: none; }

.site-footer {
  background-color: var(--bg-colour);
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); }

html[data-theme="light"] {
  --primary: #2FB279;
  --primary-linear: linear-gradient(45deg, #2FB279, #2FB279);
  --primary-lighter: #2FB279;
  --primary-lighter-linear: linear-gradient(45deg, #2FB279, #6ed9aa);
  --secondary: #F5E13B;
  --secondary-linear: linear-gradient(45deg, #F5E13B, #F9ED89);
  --secondary-lighter: #F9ED89;
  --secondary-lighter-linear: linear-gradient(45deg, #F9ED89, #fefcea);
  --text: #1d1b1b;
  --bg-colour: #FCFCFC;
  --bg-colour-darker: #F7F7F7; }
  html[data-theme="light"] .fa-sun-o {
    display: none; }

html[data-theme="dark"] {
  --primary: #F5E13B;
  --primary-linear: linear-gradient(45deg, #F5E13B, #F9ED89);
  --primary-lighter: #F9ED89;
  --primary-lighter-linear: linear-gradient(45deg, #F9ED89, #fefcea);
  --secondary: #2FB279;
  --secondary-linear: linear-gradient(45deg, #2FB279, #2FB279);
  --secondary-lighter: #2FB279;
  --secondary-lighter-linear: linear-gradient(45deg, #2FB279, #6ed9aa);
  --text: #FCFCFC;
  --bg-colour: #252627;
  --bg-colour-darker: #1d1b1b; }
  html[data-theme="dark"] .fa-moon-o {
    display: none; }

html[data-theme="light"] {
  --primary: #2FB279;
  --primary-linear: linear-gradient(45deg, #2FB279, #2FB279);
  --primary-lighter: #2FB279;
  --primary-lighter-linear: linear-gradient(45deg, #2FB279, #6ed9aa);
  --secondary: #F5E13B;
  --secondary-linear: linear-gradient(45deg, #F5E13B, #F9ED89);
  --secondary-lighter: #F9ED89;
  --secondary-lighter-linear: linear-gradient(45deg, #F9ED89, #fefcea);
  --text: #1d1b1b;
  --bg-colour: #FCFCFC;
  --bg-colour-darker: #F7F7F7; }
  html[data-theme="light"] .fa-sun-o {
    display: none; }

html[data-theme="dark"] {
  --primary: #F5E13B;
  --primary-linear: linear-gradient(45deg, #F5E13B, #F9ED89);
  --primary-lighter: #F9ED89;
  --primary-lighter-linear: linear-gradient(45deg, #F9ED89, #fefcea);
  --secondary: #2FB279;
  --secondary-linear: linear-gradient(45deg, #2FB279, #2FB279);
  --secondary-lighter: #2FB279;
  --secondary-lighter-linear: linear-gradient(45deg, #2FB279, #6ed9aa);
  --text: #FCFCFC;
  --bg-colour: #252627;
  --bg-colour-darker: #1d1b1b; }
  html[data-theme="dark"] .fa-moon-o {
    display: none; }

.widget-area .widget {
  background-color: var(--bg-colour);
  border: 1px solid var(--bg-colour);
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-bottom: 2rem;
  transition: transform .3s ease; }
  .widget-area .widget:hover {
    transform: translateY(-5px); }
  .widget-area .widget .wp-block-heading {
    margin-bottom: 3rem;
    padding: .5rem 0;
    display: inline;
    border-bottom: 1px solid var(--primary); }
  .widget-area .widget .wp-block-latest-posts__list,
  .widget-area .widget .wp-block-latest-comments,
  .widget-area .widget .wp-block-archives-list,
  .widget-area .widget .wp-block-categories-list {
    margin-top: 2rem; }
  .widget-area .widget .wp-block-latest-posts__post-title {
    margin-bottom: 1rem; }

.widget-area .widget_search form label {
  display: none; }

.widget-area .widget_search form input {
  width: 100%;
  background-color: var(--bg-colour-darker);
  color: var(--text);
  padding: .5rem;
  border: 1px solid var(--primary);
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); }

.widget-area .widget_search form .wp-block-search__button {
  display: inline-block;
  background-color: var(--primary);
  color: var(--bg-colour);
  padding: 1rem 2rem;
  border: 1px solid var(--primary);
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .1s ease-in-out; }
  .widget-area .widget_search form .wp-block-search__button:hover {
    background-color: var(--bg-colour);
    color: var(--primary); }
  .widget-area .widget_search form .wp-block-search__button:active {
    transform: scale(0.99); }
/*# sourceMappingURL=frontend.css.map */
