@import "../variables", "../mixins";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.75px;
}

body {
	color: var(--text);
}

#page-wrapper {
	background-color: var(--bg-colour-darker);
	position: relative;
	transition: left .5s;
}

///*
// * BUTTONS
// */
//.btn-yellow {
//	@include btn($yellow);
//}
//
//.btn-light-green {
//	@include btn($light-green);
//}
//
//.btn-dark-green {
//	@include btn($dark-green);
//}
//
//.btn-light-blue {
//	@include btn($light-blue);
//}
//
//.btn-dark-blue {
//	@include btn($dark-blue);
//}

/**
 * CARDS
 */
.card {
	@include card;
}

/**
 * LINKS
 */
a {
	@include link;
}

li {
	list-style-type: none;
}


