@import "../variables", "../mixins";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.75px;
}

body {
	color: var(--text);
}

#page-wrapper {
	background-color: var(--bg-colour-darker);
	position: relative;
	transition: left .5s;
}

///*
// * BUTTONS
// */
//.btn-yellow {
//	@include btn($yellow);
//}
//
//.btn-light-green {
//	@include btn($light-green);
//}
//
//.btn-dark-green {
//	@include btn($dark-green);
//}
//
//.btn-light-blue {
//	@include btn($light-blue);
//}
//
//.btn-dark-blue {
//	@include btn($dark-blue);
//}

/**
 * CARDS
 */
.card {
	@include card;
}

/**
 * LINKS
 */
a {
	@include link;
}

li {
	list-style-type: none;
}

h2, h3, h4, h5, h6 {
	padding-bottom: .5rem;
	display: inline;
	border-bottom: 3px solid var(--primary);
}

p {
	margin-bottom: .5rem;
}

button {
	display: inline-block;
	background-color: var(--primary);
	color: var(--bg-colour);
	padding: .75rem 1.5rem;
	border: 2px solid var(--primary);
	border-radius: $bord-rad;
	box-shadow: $shadow;
	font-weight: 600;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	transition: all .15s ease-in-out;

	&:hover {
		background-color: var(--bg-colour);
		color: var(--text);
	}

	&:active {
		transform: scale(0.99);
	}
}

.fade-in {
	opacity: 0;
	transition: opacity 750ms ease-in;
}

.fade-in.appear {
	opacity: 1;
}

.from-left {
	transform: translateX(-50%);
}

.from-right {
	transform: translateX(50%);
}

.from-left,
.from-right {
	transition: opacity 250ms ease-in, transform 750ms ease-in;
	opacity: 0;
}

.from-left.appear,
.from-right.appear {
	transform: translateX(0);
	opacity: 1;
}
