@import "../variables", "../mixins";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.75px;
}

body {
	color: var(--text);
}

#page-wrapper {
	background-color: var(--bg-colour-darker);
	position: relative;
	transition: left .5s;
}

.hidden {
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: all 1s;
}

@media(prefers-reduced-motion) {
	.hidden {
		transition: none;
	}
}

.show {
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
	display: block;
}
